<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Equipos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Registro</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="jumbotron">
                <h2>
                    <span>Bienvenidos</span>
                </h2>
                <p>
                    <span>Este es un simulador de un Torneo de equipos de fútbol, donde se enfrentaran unos clubs previamente inscritos en la plataforma, y se simulara todas las fases, se tendrá una tabla de posiciones y con todos los datos de cada equipo que ha jugado, también los finalistas se simularan para definir un ganador.</span>
                </p>
            </div>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-4">

                    <button type="button" class="btn btn-block btn-info" (click)="habilitar()" (click)="listarEquipos()">Mostrar Equipos</button>


                    <table class="table" *ngIf = "isHabilitado == false">
                        <thead>
                            <tr>
                                <th>
                                    Codigo
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Numero de Jugadores
                                </th>
                                <th>
                                    Puntos
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-active" *ngFor="let equipos of equipo">
                                <td>
                                    {{equipos.codigoEquipo}}
                                </td>
                                <td>
                                    {{equipos.nombreEquipo}}
                                </td>
                                <td>
                                    {{equipos.numeroJugadores}}
                                </td>
                                <td>
                                    {{equipos.puntos}}
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <app-formulario></app-formulario>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </div>
</div>
